/* (실무) 360 사이즈에서 가장 많이 디자인함  */
/* (포트폴리오) 화면이 길어야 예뻐서 320*720 */

@media screen and (max-width:1440px) {
    .container {
        padding-left: 20px; padding-right: 20px;
    }
}
/* 320 ~ 1080 */
@media screen and (max-width:1080px) {
    .s1-cd3-con {
        /* 1080까지 상자 레이아웃 -> 세로 */
        flex-direction: column;
    }
    .cd3-in {
        height: 300px; 
        width: 100%;
        flex-basis: auto;
        flex-grow: 0;
    }
}
/* 0 ~ 320 */
@media screen and  (max-width: 320px) {
    header {
        height: 80px;
        background-color: #929292;
    }
    .s1-cd3-con {
        /* 1080까지 상자 레이아웃 -> 세로 */
        flex-direction: row;
    }
    footer {
        height: 210px;
        background-color: #929292;
    }
}
