html {font-size: 20px;}
.title { 
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.sectilon {
    font-size: 16px;
}
.box {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 1px solid #333;
    text-align: center;
}